@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway&display=swap");
.font-raleway {
  font-family: "Raleway", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.popup{
  width: 400px;
  height: 350px;
  background: #effaed;
  border-radius: 12px;
  text-align: center;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50% ) scale(0.1);
  text-align: center;
  pad: 0 30px 30px;
  color:black;
  visibility: hidden;
}
.open-popup{
  visibility: visible;
  transform: translate(-50%,-50% ) scale(1);
}